services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
    restart: always

  frontend:
    build:
      context: ./frontend
      # This passes the AWS IP into the React build process
      args:
        - REACT_APP_API_URL=http://3.66.157.222:5000
    ports:
      - "3000:3000"
    restart: always