services:
  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend

  backend:
    build: ./backend

    environment:
      - PORT=5000

  frontend:
    build:
      context: ./frontend
      args:

        - REACT_APP_API_URL=/api
